USE [master]
GO
/****** Object:  Database [BloodDonationDB]    Script Date: 04/07/2025 9:02:42 SA ******/
CREATE DATABASE [BloodDonationDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BloodDonationDB', FILENAME = N'D:\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BloodDonationDB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BloodDonationDB_log', FILENAME = N'D:\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BloodDonationDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BloodDonationDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BloodDonationDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 04/07/2025 9:02:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BlogPosts]    Script Date: 04/07/2025 9:02:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlogPosts](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Body] [nvarchar](max) NOT NULL,
	[IsPublished] [bit] NOT NULL,
	[AuthorId] [uniqueidentifier] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[LastUpdatedBy] [nvarchar](max) NULL,
	[CreatedTime] [datetimeoffset](7) NULL,
	[LastUpdatedTime] [datetimeoffset](7) NULL,
	[DeletedTime] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_BlogPosts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BloodGroups]    Script Date: 04/07/2025 9:02:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BloodGroups](
	[Id] [uniqueidentifier] NOT NULL,
	[GroupName] [nvarchar](450) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_BloodGroups] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BloodInventories]    Script Date: 04/07/2025 9:02:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BloodInventories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[QuantityUnits] [int] NOT NULL,
	[ExpirationDate] [datetimeoffset](7) NOT NULL,
	[Status] [nvarchar](450) NOT NULL,
	[InventorySource] [nvarchar](max) NOT NULL,
	[BloodGroupId] [uniqueidentifier] NOT NULL,
	[ComponentTypeId] [uniqueidentifier] NOT NULL,
	[DonationEventId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_BloodInventories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BloodRequests]    Script Date: 04/07/2025 9:02:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BloodRequests](
	[Id] [uniqueidentifier] NOT NULL,
	[QuantityUnits] [int] NOT NULL,
	[RequestDate] [datetimeoffset](7) NOT NULL,
	[Status] [nvarchar](450) NOT NULL,
	[NeededByDate] [datetimeoffset](7) NULL,
	[RequestedBy] [uniqueidentifier] NULL,
	[BloodGroupId] [uniqueidentifier] NOT NULL,
	[ComponentTypeId] [uniqueidentifier] NOT NULL,
	[LocationId] [uniqueidentifier] NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[ContactInfo] [nvarchar](max) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedTime] [datetimeoffset](7) NULL,
	[DeletedTime] [datetimeoffset](7) NULL,
	[HospitalName] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsEmergency] [bit] NOT NULL,
	[LastUpdatedBy] [nvarchar](max) NULL,
	[LastUpdatedTime] [datetimeoffset](7) NULL,
	[Latitude] [nvarchar](max) NOT NULL,
	[Longitude] [nvarchar](max) NOT NULL,
	[MedicalNotes] [nvarchar](max) NOT NULL,
	[PatientName] [nvarchar](max) NOT NULL,
	[UrgencyLevel] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_BloodRequests] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ComponentTypes]    Script Date: 04/07/2025 9:02:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComponentTypes](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[ShelfLifeDays] [int] NOT NULL,
 CONSTRAINT [PK_ComponentTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Documents]    Script Date: 04/07/2025 9:02:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Documents](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[DocumentType] [nvarchar](max) NOT NULL,
	[CreatedDate] [datetimeoffset](7) NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Documents] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonationAppointmentRequests]    Script Date: 04/07/2025 9:02:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonationAppointmentRequests](
	[Id] [uniqueidentifier] NOT NULL,
	[DonorId] [uniqueidentifier] NOT NULL,
	[PreferredDate] [datetimeoffset](7) NOT NULL,
	[PreferredTimeSlot] [nvarchar](max) NOT NULL,
	[LocationId] [uniqueidentifier] NOT NULL,
	[BloodGroupId] [uniqueidentifier] NULL,
	[ComponentTypeId] [uniqueidentifier] NULL,
	[RequestType] [nvarchar](450) NOT NULL,
	[InitiatedByUserId] [uniqueidentifier] NULL,
	[Status] [nvarchar](450) NOT NULL,
	[Notes] [nvarchar](max) NULL,
	[RejectionReason] [nvarchar](max) NULL,
	[ReviewedByUserId] [uniqueidentifier] NULL,
	[ReviewedAt] [datetimeoffset](7) NULL,
	[ConfirmedDate] [datetimeoffset](7) NULL,
	[ConfirmedTimeSlot] [nvarchar](max) NULL,
	[ConfirmedLocationId] [uniqueidentifier] NULL,
	[DonorAccepted] [bit] NULL,
	[DonorResponseAt] [datetimeoffset](7) NULL,
	[DonorResponseNotes] [nvarchar](max) NULL,
	[IsUrgent] [bit] NOT NULL,
	[Priority] [int] NOT NULL,
	[ExpiresAt] [datetimeoffset](7) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[LastUpdatedBy] [nvarchar](max) NULL,
	[CreatedTime] [datetimeoffset](7) NULL,
	[LastUpdatedTime] [datetimeoffset](7) NULL,
	[DeletedTime] [datetimeoffset](7) NULL,
	[CancelledTime] [datetimeoffset](7) NULL,
	[CheckInTime] [datetimeoffset](7) NULL,
	[CompletedTime] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_DonationAppointmentRequests] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonationEvents]    Script Date: 04/07/2025 9:02:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonationEvents](
	[Id] [uniqueidentifier] NOT NULL,
	[QuantityUnits] [int] NOT NULL,
	[CollectedAt] [nvarchar](255) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[DonorId] [uniqueidentifier] NULL,
	[BloodGroupId] [uniqueidentifier] NOT NULL,
	[ComponentTypeId] [uniqueidentifier] NOT NULL,
	[LocationId] [uniqueidentifier] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[LastUpdatedBy] [nvarchar](max) NULL,
	[CreatedTime] [datetimeoffset](7) NULL,
	[LastUpdatedTime] [datetimeoffset](7) NULL,
	[DeletedTime] [datetimeoffset](7) NULL,
	[AppointmentConfirmed] [bit] NOT NULL,
	[AppointmentDate] [datetimeoffset](7) NULL,
	[AppointmentLocation] [nvarchar](255) NOT NULL,
	[CompletedTime] [datetimeoffset](7) NULL,
	[DonationDate] [datetimeoffset](7) NULL,
	[DonationLocation] [nvarchar](255) NOT NULL,
	[InventoryId] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[Notes] [nvarchar](1000) NOT NULL,
	[QuantityDonated] [float] NULL,
	[RequestId] [uniqueidentifier] NULL,
	[RequestType] [nvarchar](50) NOT NULL,
	[StaffId] [uniqueidentifier] NULL,
	[StatusDescription] [nvarchar](255) NOT NULL,
	[ActionTaken] [nvarchar](max) NOT NULL,
	[BloodPressure] [nvarchar](max) NOT NULL,
	[CheckInTime] [datetimeoffset](7) NULL,
	[ComplicationDetails] [nvarchar](max) NOT NULL,
	[ComplicationType] [nvarchar](max) NOT NULL,
	[DonationStartTime] [datetimeoffset](7) NULL,
	[Height] [float] NULL,
	[HemoglobinLevel] [float] NULL,
	[IsUsable] [bit] NOT NULL,
	[MedicalNotes] [nvarchar](max) NOT NULL,
	[RejectionReason] [nvarchar](max) NOT NULL,
	[Temperature] [float] NULL,
	[Weight] [float] NULL,
 CONSTRAINT [PK_DonationEvents] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonorProfiles]    Script Date: 04/07/2025 9:02:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonorProfiles](
	[Id] [uniqueidentifier] NOT NULL,
	[DateOfBirth] [datetimeoffset](7) NOT NULL,
	[Gender] [bit] NOT NULL,
	[LastDonationDate] [datetimeoffset](7) NULL,
	[HealthStatus] [nvarchar](max) NOT NULL,
	[LastHealthCheckDate] [datetimeoffset](7) NOT NULL,
	[TotalDonations] [int] NOT NULL,
	[Address] [nvarchar](max) NULL,
	[Latitude] [nvarchar](max) NOT NULL,
	[Longitude] [nvarchar](max) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[BloodGroupId] [uniqueidentifier] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[LastUpdatedBy] [nvarchar](max) NULL,
	[CreatedTime] [datetimeoffset](7) NULL,
	[LastUpdatedTime] [datetimeoffset](7) NULL,
	[DeletedTime] [datetimeoffset](7) NULL,
	[IsAvailableForEmergency] [bit] NOT NULL,
	[NextAvailableDonationDate] [datetimeoffset](7) NULL,
	[PreferredDonationTime] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_DonorProfiles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonorReminderSettings]    Script Date: 04/07/2025 9:02:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonorReminderSettings](
	[Id] [uniqueidentifier] NOT NULL,
	[DonorProfileId] [uniqueidentifier] NOT NULL,
	[EnableReminders] [bit] NOT NULL,
	[DaysBeforeEligible] [int] NOT NULL,
	[EmailNotifications] [bit] NOT NULL,
	[InAppNotifications] [bit] NOT NULL,
	[CreatedTime] [datetimeoffset](7) NOT NULL,
	[LastUpdatedTime] [datetimeoffset](7) NULL,
	[LastReminderSentTime] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_DonorReminderSettings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LocationCapacities]    Script Date: 04/07/2025 9:02:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LocationCapacities](
	[Id] [uniqueidentifier] NOT NULL,
	[LocationId] [uniqueidentifier] NOT NULL,
	[TimeSlot] [nvarchar](450) NOT NULL,
	[TotalCapacity] [int] NOT NULL,
	[DayOfWeek] [int] NULL,
	[EffectiveDate] [datetimeoffset](7) NULL,
	[ExpiryDate] [datetimeoffset](7) NULL,
	[IsActive] [bit] NOT NULL,
	[Notes] [nvarchar](max) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[LastUpdatedBy] [nvarchar](max) NULL,
	[CreatedTime] [datetimeoffset](7) NULL,
	[LastUpdatedTime] [datetimeoffset](7) NULL,
	[DeletedTime] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_LocationCapacities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Locations]    Script Date: 04/07/2025 9:02:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Locations](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[Latitude] [nvarchar](max) NOT NULL,
	[Longitude] [nvarchar](max) NOT NULL,
	[ContactEmail] [nvarchar](max) NULL,
	[ContactPhone] [nvarchar](max) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedTime] [datetimeoffset](7) NULL,
	[DeletedTime] [datetimeoffset](7) NULL,
	[Description] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[LastUpdatedBy] [nvarchar](max) NULL,
	[LastUpdatedTime] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_Locations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LocationStaffAssignments]    Script Date: 04/07/2025 9:02:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LocationStaffAssignments](
	[Id] [uniqueidentifier] NOT NULL,
	[LocationId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Role] [nvarchar](max) NOT NULL,
	[CanManageCapacity] [bit] NOT NULL,
	[CanApproveAppointments] [bit] NOT NULL,
	[CanViewReports] [bit] NOT NULL,
	[AssignedDate] [datetimeoffset](7) NOT NULL,
	[UnassignedDate] [datetimeoffset](7) NULL,
	[IsActive] [bit] NOT NULL,
	[Notes] [nvarchar](max) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[LastUpdatedBy] [nvarchar](max) NULL,
	[CreatedTime] [datetimeoffset](7) NULL,
	[LastUpdatedTime] [datetimeoffset](7) NULL,
	[DeletedTime] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_LocationStaffAssignments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 04/07/2025 9:02:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[Id] [uniqueidentifier] NOT NULL,
	[Type] [nvarchar](max) NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[IsRead] [bit] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[LastUpdatedBy] [nvarchar](max) NULL,
	[CreatedTime] [datetimeoffset](7) NULL,
	[LastUpdatedTime] [datetimeoffset](7) NULL,
	[DeletedTime] [datetimeoffset](7) NULL,
	[ReferenceId] [nvarchar](max) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Notifications] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RefreshTokens]    Script Date: 04/07/2025 9:02:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RefreshTokens](
	[Id] [uniqueidentifier] NOT NULL,
	[Token] [nvarchar](450) NOT NULL,
	[ExpiryDate] [datetimeoffset](7) NOT NULL,
	[IsUsed] [bit] NOT NULL,
	[IsRevoked] [bit] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_RefreshTokens] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 04/07/2025 9:02:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [uniqueidentifier] NOT NULL,
	[RoleName] [nvarchar](450) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 04/07/2025 9:02:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [uniqueidentifier] NOT NULL,
	[UserName] [nvarchar](450) NOT NULL,
	[Email] [nvarchar](450) NULL,
	[Password] [nvarchar](max) NOT NULL,
	[FirstName] [nvarchar](max) NOT NULL,
	[LastName] [nvarchar](max) NOT NULL,
	[PhoneNumber] [nvarchar](max) NOT NULL,
	[LastLogin] [datetimeoffset](7) NOT NULL,
	[RoleId] [uniqueidentifier] NOT NULL,
	[CreatedTime] [datetimeoffset](7) NOT NULL,
	[IsActivated] [bit] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250603034354_InitialCreate', N'8.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250606041134_AddDonorProfileAvailabilityFields', N'8.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250612112834_AddNullableNavigationProperties', N'8.0.0')
GO
INSERT [dbo].[BloodGroups] ([Id], [GroupName], [Description]) VALUES (N'9db7f594-af01-41b6-90ee-005f5c45e9a7', N'A-', N'Can receive from A-, O-. Can donate to A+, A-, AB+, AB-.')
INSERT [dbo].[BloodGroups] ([Id], [GroupName], [Description]) VALUES (N'7e11b7c5-07b4-4b09-832c-0107f5e00953', N'A+', N'Most common A type. Can receive from A+, A-, O+, O-. Can donate to A+, AB+.')
INSERT [dbo].[BloodGroups] ([Id], [GroupName], [Description]) VALUES (N'107c5f40-adca-434f-a6cf-023b4812134e', N'B+', N'Can receive from B+, B-, O+, O-. Can donate to B+, AB+.')
GO
SET IDENTITY_INSERT [dbo].[BloodInventories] ON 

INSERT [dbo].[BloodInventories] ([Id], [QuantityUnits], [ExpirationDate], [Status], [InventorySource], [BloodGroupId], [ComponentTypeId], [DonationEventId]) VALUES (1, 1, CAST(N'2025-08-13T10:36:18.0000000+00:00' AS DateTimeOffset), N'Processing', N'Donation', N'7e11b7c5-07b4-4b09-832c-0107f5e00953', N'a033340e-2749-4b6d-b52b-5bbc4612e386', N'd197a8d0-cae3-43e2-83c0-d0a6b389cb6c')
INSERT [dbo].[BloodInventories] ([Id], [QuantityUnits], [ExpirationDate], [Status], [InventorySource], [BloodGroupId], [ComponentTypeId], [DonationEventId]) VALUES (2, 1, CAST(N'2025-08-13T17:26:42.5510000+00:00' AS DateTimeOffset), N'Reserved', N'Donation', N'6bbf6eab-623e-4a7b-a06e-128ab3cc5ad5', N'a033340e-2749-4b6d-b52b-5bbc4612e386', N'f5a92cf3-7a8d-4bfd-a4fb-cbce826ca04f')
INSERT [dbo].[BloodInventories] ([Id], [QuantityUnits], [ExpirationDate], [Status], [InventorySource], [BloodGroupId], [ComponentTypeId], [DonationEventId]) VALUES (3, 1, CAST(N'2025-08-13T17:52:02.6720000+00:00' AS DateTimeOffset), N'Processing', N'Donation', N'29677597-a6e3-49e5-88f4-9a36edb8ac11', N'0150f191-da39-4f62-bda5-a2c0944c335f', N'42c9757b-0a49-4eb3-a086-d779c788a7d5')
SET IDENTITY_INSERT [dbo].[BloodInventories] OFF
GO
INSERT [dbo].[ComponentTypes] ([Id], [Name], [ShelfLifeDays]) VALUES (N'52bc157b-f384-410a-83c2-0bd234d8ba6d', N'Immune Globulins', 730)
INSERT [dbo].[ComponentTypes] ([Id], [Name], [ShelfLifeDays]) VALUES (N'7df9aca5-26cf-4230-83d3-33601140cb5a', N'Cryoprecipitate', 365)
INSERT [dbo].[ComponentTypes] ([Id], [Name], [ShelfLifeDays]) VALUES (N'a033340e-2749-4b6d-b52b-5bbc4612e386', N'Whole Blood', 35)
GO
INSERT [dbo].[LocationCapacities] ([Id], [LocationId], [TimeSlot], [TotalCapacity], [DayOfWeek], [EffectiveDate], [ExpiryDate], [IsActive], [Notes], [CreatedBy], [LastUpdatedBy], [CreatedTime], [LastUpdatedTime], [DeletedTime]) VALUES (N'406372fc-cd24-4ab4-b1eb-0021451ec9c3', N'b772dce8-4ae1-4518-890d-140ed6378b05', N'Morning', 10, 3, CAST(N'2025-07-09T03:00:00.0000000+00:00' AS DateTimeOffset), CAST(N'2025-07-09T04:00:00.0000000+00:00' AS DateTimeOffset), 1, N'Weekly capacity for blood donation center', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[LocationCapacities] ([Id], [LocationId], [TimeSlot], [TotalCapacity], [DayOfWeek], [EffectiveDate], [ExpiryDate], [IsActive], [Notes], [CreatedBy], [LastUpdatedBy], [CreatedTime], [LastUpdatedTime], [DeletedTime]) VALUES (N'cce28f96-9d4f-404a-93c7-00e86c1c79ab', N'e8387cf6-8a8f-4089-985b-00c14c3895fc', N'Afternoon', 10, 1, CAST(N'2025-06-30T07:00:00.0000000+00:00' AS DateTimeOffset), CAST(N'2025-06-30T08:00:00.0000000+00:00' AS DateTimeOffset), 1, N'Weekly capacity for blood donation center', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[LocationCapacities] ([Id], [LocationId], [TimeSlot], [TotalCapacity], [DayOfWeek], [EffectiveDate], [ExpiryDate], [IsActive], [Notes], [CreatedBy], [LastUpdatedBy], [CreatedTime], [LastUpdatedTime], [DeletedTime]) VALUES (N'e9000768-7d31-4e2d-b6f0-0173211ca25d', N'e8387cf6-8a8f-4089-985b-00c14c3895fc', N'Evening', 10, 2, CAST(N'2025-07-15T11:00:00.0000000+00:00' AS DateTimeOffset), CAST(N'2025-07-15T12:00:00.0000000+00:00' AS DateTimeOffset), 1, N'Weekly capacity for blood donation center', NULL, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[Locations] ([Id], [Name], [Address], [Latitude], [Longitude], [ContactEmail], [ContactPhone], [CreatedBy], [CreatedTime], [DeletedTime], [Description], [IsActive], [LastUpdatedBy], [LastUpdatedTime]) VALUES (N'e8387cf6-8a8f-4089-985b-00c14c3895fc', N'Bệnh viện Quận Tân Phú', N'612 Lạc Long Quân, Phường 5, Quận Tân Phú, TP. Hồ Chí Minh', N'10.7784467', N'106.6358757', NULL, NULL, NULL, NULL, NULL, NULL, 0, NULL, NULL)
INSERT [dbo].[Locations] ([Id], [Name], [Address], [Latitude], [Longitude], [ContactEmail], [ContactPhone], [CreatedBy], [CreatedTime], [DeletedTime], [Description], [IsActive], [LastUpdatedBy], [LastUpdatedTime]) VALUES (N'2d2896a7-1d55-44ee-89a9-01b3f3c2f6c9', N'Trung tâm Văn hóa Quận 1', N'32 Alexandre de Rhodes, Phường Bến Nghé, Quận 1, TP. Hồ Chí Minh', N'10.7776639', N'106.6980257', NULL, NULL, NULL, NULL, NULL, NULL, 0, NULL, NULL)
INSERT [dbo].[Locations] ([Id], [Name], [Address], [Latitude], [Longitude], [ContactEmail], [ContactPhone], [CreatedBy], [CreatedTime], [DeletedTime], [Description], [IsActive], [LastUpdatedBy], [LastUpdatedTime]) VALUES (N'b772dce8-4ae1-4518-890d-140ed6378b05', N'Bệnh viện Quận 2', N'740C Nguyễn Thị Định, Phường Thạnh Mỹ Lợi, Quận 2, TP. Hồ Chí Minh', N'10.7750712', N'106.7703699', NULL, NULL, NULL, NULL, NULL, NULL, 0, NULL, NULL)
GO
INSERT [dbo].[LocationStaffAssignments] ([Id], [LocationId], [UserId], [Role], [CanManageCapacity], [CanApproveAppointments], [CanViewReports], [AssignedDate], [UnassignedDate], [IsActive], [Notes], [CreatedBy], [LastUpdatedBy], [CreatedTime], [LastUpdatedTime], [DeletedTime]) VALUES (N'd17317b9-bbfb-4c09-b113-3f814785418b', N'2d2896a7-1d55-44ee-89a9-01b3f3c2f6c9', N'3b80e1db-3e05-4985-9f3d-8da84fce760a', N'Staff', 1, 1, 0, CAST(N'2025-06-27T09:01:47.2993652+00:00' AS DateTimeOffset), NULL, 1, N'', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[LocationStaffAssignments] ([Id], [LocationId], [UserId], [Role], [CanManageCapacity], [CanApproveAppointments], [CanViewReports], [AssignedDate], [UnassignedDate], [IsActive], [Notes], [CreatedBy], [LastUpdatedBy], [CreatedTime], [LastUpdatedTime], [DeletedTime]) VALUES (N'c805e51f-5c02-4aa5-83be-a516a80849ab', N'b772dce8-4ae1-4518-890d-140ed6378b05', N'80834461-2879-4b52-8add-f4d377b97f1b', N'Staff', 1, 1, 0, CAST(N'2025-06-27T09:09:21.3952275+00:00' AS DateTimeOffset), NULL, 1, N'', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[LocationStaffAssignments] ([Id], [LocationId], [UserId], [Role], [CanManageCapacity], [CanApproveAppointments], [CanViewReports], [AssignedDate], [UnassignedDate], [IsActive], [Notes], [CreatedBy], [LastUpdatedBy], [CreatedTime], [LastUpdatedTime], [DeletedTime]) VALUES (N'12639eb8-89b4-45af-ad1d-f7559fbcf069', N'e8387cf6-8a8f-4089-985b-00c14c3895fc', N'8863f152-cc2e-46e8-b87e-dba54081db44', N'Staff', 1, 1, 1, CAST(N'2025-06-27T08:36:23.6151758+00:00' AS DateTimeOffset), NULL, 1, N'', NULL, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[Notifications] ([Id], [Type], [Message], [IsRead], [UserId], [CreatedBy], [LastUpdatedBy], [CreatedTime], [LastUpdatedTime], [DeletedTime], [ReferenceId], [Title]) VALUES (N'ba416417-28be-4f74-81f5-017637367268', N'NextDonationReminder', N'You will be eligible to donate blood again on 30 tháng 9 2025. We look forward to seeing you again!', 0, N'858f3c1d-82e8-45b6-9e0d-b5367f83f47d', NULL, NULL, CAST(N'2025-07-03T03:02:08.7904152+07:00' AS DateTimeOffset), NULL, NULL, N'', N'Next Donation Date')
INSERT [dbo].[Notifications] ([Id], [Type], [Message], [IsRead], [UserId], [CreatedBy], [LastUpdatedBy], [CreatedTime], [LastUpdatedTime], [DeletedTime], [ReferenceId], [Title]) VALUES (N'efbb4997-cf0b-4347-b5da-11f35ef6c278', N'NextDonationReminder', N'You will be eligible to donate blood again on 30 tháng 9 2025. We look forward to seeing you again!', 0, N'2de7d5d9-4aa8-43ca-bd79-ddf4b48c246a', NULL, NULL, CAST(N'2025-07-03T00:52:39.4695666+07:00' AS DateTimeOffset), NULL, NULL, N'', N'Next Donation Date')
INSERT [dbo].[Notifications] ([Id], [Type], [Message], [IsRead], [UserId], [CreatedBy], [LastUpdatedBy], [CreatedTime], [LastUpdatedTime], [DeletedTime], [ReferenceId], [Title]) VALUES (N'0664d0f8-9415-49d1-9e4c-1c0ead8fd166', N'HealthCheckPassed', N'You have passed the health check and are eligible to donate blood today.', 0, N'858f3c1d-82e8-45b6-9e0d-b5367f83f47d', NULL, NULL, CAST(N'2025-07-03T02:54:10.5281879+07:00' AS DateTimeOffset), NULL, NULL, N'', N'Health Check Passed')
GO
INSERT [dbo].[Roles] ([Id], [RoleName], [Description]) VALUES (N'07ebd8b6-077e-4f69-be17-0a92418fd935', N'Member', N'Regular registered users with donor capabilities')
INSERT [dbo].[Roles] ([Id], [RoleName], [Description]) VALUES (N'285eb7e6-2598-47fb-bef7-90792f20ca5b', N'Admin', N'Administrators with full system access')
INSERT [dbo].[Roles] ([Id], [RoleName], [Description]) VALUES (N'2d80e25f-e529-4cee-8da6-990e5be054b0', N'Staff', N'Staff members with elevated privileges')
GO
INSERT [dbo].[Users] ([Id], [UserName], [Email], [Password], [FirstName], [LastName], [PhoneNumber], [LastLogin], [RoleId], [CreatedTime], [IsActivated]) VALUES (N'49294f7f-384c-484d-aed2-1804d673a537', N'admin', N'admin@gmail.com', N'jZae727K08KaOmKSgOaGzww/XVqGr/PKEgIMkjrcbJI=', N'Admin', N'Nguyen', N'0358696561', CAST(N'2025-06-27T09:33:14.1382589+00:00' AS DateTimeOffset), N'285eb7e6-2598-47fb-bef7-90792f20ca5b', CAST(N'2025-06-26T12:40:19.3839818+00:00' AS DateTimeOffset), 1)
INSERT [dbo].[Users] ([Id], [UserName], [Email], [Password], [FirstName], [LastName], [PhoneNumber], [LastLogin], [RoleId], [CreatedTime], [IsActivated]) VALUES (N'c7dc566a-fbeb-4b16-a5fa-51902e8a6805', N'BaNV', N'kijtei2@gmail.com', N'jZae727K08KaOmKSgOaGzww/XVqGr/PKEgIMkjrcbJI=', N'Ba', N'Nguyen Van', N'0358192341', CAST(N'2025-07-02T17:29:35.2228114+00:00' AS DateTimeOffset), N'07ebd8b6-077e-4f69-be17-0a92418fd935', CAST(N'2025-06-30T14:28:14.4635256+00:00' AS DateTimeOffset), 1)
INSERT [dbo].[Users] ([Id], [UserName], [Email], [Password], [FirstName], [LastName], [PhoneNumber], [LastLogin], [RoleId], [CreatedTime], [IsActivated]) VALUES (N'6c670701-6ea4-4bb3-bf9a-5592225760c2', N'son', N'kijtei1@gmail.com', N'jZae727K08KaOmKSgOaGzww/XVqGr/PKEgIMkjrcbJI=', N'Son', N'Nguyen', N'0358696560', CAST(N'2025-07-03T10:46:17.5961268+00:00' AS DateTimeOffset), N'07ebd8b6-077e-4f69-be17-0a92418fd935', CAST(N'2025-06-26T12:40:19.3839818+00:00' AS DateTimeOffset), 1)
GO
/****** Object:  Index [IX_BlogPosts_AuthorId]    Script Date: 04/07/2025 9:02:43 SA ******/
CREATE NONCLUSTERED INDEX [IX_BlogPosts_AuthorId] ON [dbo].[BlogPosts]
(
	[AuthorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_BloodGroups_GroupName]    Script Date: 04/07/2025 9:02:43 SA ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_BloodGroups_GroupName] ON [dbo].[BloodGroups]
(
	[GroupName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_BloodInventories_BloodGroupId_ComponentTypeId_ExpirationDate_Status]    Script Date: 04/07/2025 9:02:43 SA ******/
CREATE NONCLUSTERED INDEX [IX_BloodInventories_BloodGroupId_ComponentTypeId_ExpirationDate_Status] ON [dbo].[BloodInventories]
(
	[BloodGroupId] ASC,
	[ComponentTypeId] ASC,
	[ExpirationDate] ASC,
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BloodInventories_ComponentTypeId]    Script Date: 04/07/2025 9:02:43 SA ******/
CREATE NONCLUSTERED INDEX [IX_BloodInventories_ComponentTypeId] ON [dbo].[BloodInventories]
(
	[ComponentTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BloodInventories_DonationEventId]    Script Date: 04/07/2025 9:02:43 SA ******/
CREATE NONCLUSTERED INDEX [IX_BloodInventories_DonationEventId] ON [dbo].[BloodInventories]
(
	[DonationEventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_BloodRequests_BloodGroupId_ComponentTypeId_Status_IsEmergency]    Script Date: 04/07/2025 9:02:43 SA ******/
CREATE NONCLUSTERED INDEX [IX_BloodRequests_BloodGroupId_ComponentTypeId_Status_IsEmergency] ON [dbo].[BloodRequests]
(
	[BloodGroupId] ASC,
	[ComponentTypeId] ASC,
	[Status] ASC,
	[IsEmergency] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BloodRequests_ComponentTypeId]    Script Date: 04/07/2025 9:02:43 SA ******/
CREATE NONCLUSTERED INDEX [IX_BloodRequests_ComponentTypeId] ON [dbo].[BloodRequests]
(
	[ComponentTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BloodRequests_LocationId]    Script Date: 04/07/2025 9:02:43 SA ******/
CREATE NONCLUSTERED INDEX [IX_BloodRequests_LocationId] ON [dbo].[BloodRequests]
(
	[LocationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BloodRequests_RequestedBy]    Script Date: 04/07/2025 9:02:43 SA ******/
CREATE NONCLUSTERED INDEX [IX_BloodRequests_RequestedBy] ON [dbo].[BloodRequests]
(
	[RequestedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ComponentTypes_Name]    Script Date: 04/07/2025 9:02:43 SA ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_ComponentTypes_Name] ON [dbo].[ComponentTypes]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Documents_CreatedBy]    Script Date: 04/07/2025 9:02:43 SA ******/
CREATE NONCLUSTERED INDEX [IX_Documents_CreatedBy] ON [dbo].[Documents]
(
	[CreatedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DonationAppointmentRequests_BloodGroupId]    Script Date: 04/07/2025 9:02:43 SA ******/
CREATE NONCLUSTERED INDEX [IX_DonationAppointmentRequests_BloodGroupId] ON [dbo].[DonationAppointmentRequests]
(
	[BloodGroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DonationAppointmentRequests_ComponentTypeId]    Script Date: 04/07/2025 9:02:43 SA ******/
CREATE NONCLUSTERED INDEX [IX_DonationAppointmentRequests_ComponentTypeId] ON [dbo].[DonationAppointmentRequests]
(
	[ComponentTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DonationAppointmentRequests_ConfirmedLocationId]    Script Date: 04/07/2025 9:02:43 SA ******/
CREATE NONCLUSTERED INDEX [IX_DonationAppointmentRequests_ConfirmedLocationId] ON [dbo].[DonationAppointmentRequests]
(
	[ConfirmedLocationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DonationAppointmentRequests_DonorId]    Script Date: 04/07/2025 9:02:43 SA ******/
CREATE NONCLUSTERED INDEX [IX_DonationAppointmentRequests_DonorId] ON [dbo].[DonationAppointmentRequests]
(
	[DonorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DonationAppointmentRequests_ExpiresAt]    Script Date: 04/07/2025 9:02:43 SA ******/
CREATE NONCLUSTERED INDEX [IX_DonationAppointmentRequests_ExpiresAt] ON [dbo].[DonationAppointmentRequests]
(
	[ExpiresAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DonationAppointmentRequests_InitiatedByUserId]    Script Date: 04/07/2025 9:02:43 SA ******/
CREATE NONCLUSTERED INDEX [IX_DonationAppointmentRequests_InitiatedByUserId] ON [dbo].[DonationAppointmentRequests]
(
	[InitiatedByUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DonationAppointmentRequests_IsUrgent_Priority]    Script Date: 04/07/2025 9:02:43 SA ******/
CREATE NONCLUSTERED INDEX [IX_DonationAppointmentRequests_IsUrgent_Priority] ON [dbo].[DonationAppointmentRequests]
(
	[IsUrgent] ASC,
	[Priority] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DonationAppointmentRequests_LocationId_PreferredDate]    Script Date: 04/07/2025 9:02:43 SA ******/
CREATE NONCLUSTERED INDEX [IX_DonationAppointmentRequests_LocationId_PreferredDate] ON [dbo].[DonationAppointmentRequests]
(
	[LocationId] ASC,
	[PreferredDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DonationAppointmentRequests_ReviewedByUserId]    Script Date: 04/07/2025 9:02:43 SA ******/
CREATE NONCLUSTERED INDEX [IX_DonationAppointmentRequests_ReviewedByUserId] ON [dbo].[DonationAppointmentRequests]
(
	[ReviewedByUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_DonationAppointmentRequests_Status_RequestType]    Script Date: 04/07/2025 9:02:43 SA ******/
CREATE NONCLUSTERED INDEX [IX_DonationAppointmentRequests_Status_RequestType] ON [dbo].[DonationAppointmentRequests]
(
	[Status] ASC,
	[RequestType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DonationEvents_BloodGroupId]    Script Date: 04/07/2025 9:02:43 SA ******/
CREATE NONCLUSTERED INDEX [IX_DonationEvents_BloodGroupId] ON [dbo].[DonationEvents]
(
	[BloodGroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DonationEvents_ComponentTypeId]    Script Date: 04/07/2025 9:02:43 SA ******/
CREATE NONCLUSTERED INDEX [IX_DonationEvents_ComponentTypeId] ON [dbo].[DonationEvents]
(
	[ComponentTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DonationEvents_DonorId]    Script Date: 04/07/2025 9:02:43 SA ******/
CREATE NONCLUSTERED INDEX [IX_DonationEvents_DonorId] ON [dbo].[DonationEvents]
(
	[DonorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DonationEvents_InventoryId]    Script Date: 04/07/2025 9:02:43 SA ******/
CREATE NONCLUSTERED INDEX [IX_DonationEvents_InventoryId] ON [dbo].[DonationEvents]
(
	[InventoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DonationEvents_LocationId]    Script Date: 04/07/2025 9:02:43 SA ******/
CREATE NONCLUSTERED INDEX [IX_DonationEvents_LocationId] ON [dbo].[DonationEvents]
(
	[LocationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DonationEvents_StaffId]    Script Date: 04/07/2025 9:02:43 SA ******/
CREATE NONCLUSTERED INDEX [IX_DonationEvents_StaffId] ON [dbo].[DonationEvents]
(
	[StaffId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DonorProfiles_BloodGroupId]    Script Date: 04/07/2025 9:02:43 SA ******/
CREATE NONCLUSTERED INDEX [IX_DonorProfiles_BloodGroupId] ON [dbo].[DonorProfiles]
(
	[BloodGroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DonorProfiles_UserId]    Script Date: 04/07/2025 9:02:43 SA ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_DonorProfiles_UserId] ON [dbo].[DonorProfiles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DonorReminderSettings_DonorProfileId]    Script Date: 04/07/2025 9:02:43 SA ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_DonorReminderSettings_DonorProfileId] ON [dbo].[DonorReminderSettings]
(
	[DonorProfileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DonorReminderSettings_EnableReminders_LastReminderSentTime]    Script Date: 04/07/2025 9:02:43 SA ******/
CREATE NONCLUSTERED INDEX [IX_DonorReminderSettings_EnableReminders_LastReminderSentTime] ON [dbo].[DonorReminderSettings]
(
	[EnableReminders] ASC,
	[LastReminderSentTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LocationCapacities_EffectiveDate_ExpiryDate_IsActive]    Script Date: 04/07/2025 9:02:43 SA ******/
CREATE NONCLUSTERED INDEX [IX_LocationCapacities_EffectiveDate_ExpiryDate_IsActive] ON [dbo].[LocationCapacities]
(
	[EffectiveDate] ASC,
	[ExpiryDate] ASC,
	[IsActive] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_LocationCapacities_LocationId_TimeSlot_DayOfWeek]    Script Date: 04/07/2025 9:02:43 SA ******/
CREATE NONCLUSTERED INDEX [IX_LocationCapacities_LocationId_TimeSlot_DayOfWeek] ON [dbo].[LocationCapacities]
(
	[LocationId] ASC,
	[TimeSlot] ASC,
	[DayOfWeek] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Locations_Name]    Script Date: 04/07/2025 9:02:43 SA ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Locations_Name] ON [dbo].[Locations]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LocationStaffAssignments_LocationId_UserId]    Script Date: 04/07/2025 9:02:43 SA ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_LocationStaffAssignments_LocationId_UserId] ON [dbo].[LocationStaffAssignments]
(
	[LocationId] ASC,
	[UserId] ASC
)
WHERE ([IsActive]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LocationStaffAssignments_LocationId_UserId_IsActive]    Script Date: 04/07/2025 9:02:43 SA ******/
CREATE NONCLUSTERED INDEX [IX_LocationStaffAssignments_LocationId_UserId_IsActive] ON [dbo].[LocationStaffAssignments]
(
	[LocationId] ASC,
	[UserId] ASC,
	[IsActive] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LocationStaffAssignments_UserId_IsActive]    Script Date: 04/07/2025 9:02:43 SA ******/
CREATE NONCLUSTERED INDEX [IX_LocationStaffAssignments_UserId_IsActive] ON [dbo].[LocationStaffAssignments]
(
	[UserId] ASC,
	[IsActive] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notifications_UserId]    Script Date: 04/07/2025 9:02:43 SA ******/
CREATE NONCLUSTERED INDEX [IX_Notifications_UserId] ON [dbo].[Notifications]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RefreshTokens_Token]    Script Date: 04/07/2025 9:02:43 SA ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_RefreshTokens_Token] ON [dbo].[RefreshTokens]
(
	[Token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RefreshTokens_UserId]    Script Date: 04/07/2025 9:02:43 SA ******/
CREATE NONCLUSTERED INDEX [IX_RefreshTokens_UserId] ON [dbo].[RefreshTokens]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Roles_RoleName]    Script Date: 04/07/2025 9:02:43 SA ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Roles_RoleName] ON [dbo].[Roles]
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Email]    Script Date: 04/07/2025 9:02:43 SA ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Users_Email] ON [dbo].[Users]
(
	[Email] ASC
)
WHERE ([Email] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_RoleId]    Script Date: 04/07/2025 9:02:43 SA ******/
CREATE NONCLUSTERED INDEX [IX_Users_RoleId] ON [dbo].[Users]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_UserName]    Script Date: 04/07/2025 9:02:43 SA ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Users_UserName] ON [dbo].[Users]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BloodRequests] ADD  DEFAULT (N'') FOR [Address]
GO
ALTER TABLE [dbo].[BloodRequests] ADD  DEFAULT (N'') FOR [ContactInfo]
GO
ALTER TABLE [dbo].[BloodRequests] ADD  DEFAULT (N'') FOR [HospitalName]
GO
ALTER TABLE [dbo].[BloodRequests] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsActive]
GO
ALTER TABLE [dbo].[BloodRequests] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsEmergency]
GO
ALTER TABLE [dbo].[BloodRequests] ADD  DEFAULT (N'') FOR [Latitude]
GO
ALTER TABLE [dbo].[BloodRequests] ADD  DEFAULT (N'') FOR [Longitude]
GO
ALTER TABLE [dbo].[BloodRequests] ADD  DEFAULT (N'') FOR [MedicalNotes]
GO
ALTER TABLE [dbo].[BloodRequests] ADD  DEFAULT (N'') FOR [PatientName]
GO
ALTER TABLE [dbo].[BloodRequests] ADD  DEFAULT (N'') FOR [UrgencyLevel]
GO
ALTER TABLE [dbo].[DonationEvents] ADD  DEFAULT (CONVERT([bit],(0))) FOR [AppointmentConfirmed]
GO
ALTER TABLE [dbo].[DonationEvents] ADD  DEFAULT (N'') FOR [AppointmentLocation]
GO
ALTER TABLE [dbo].[DonationEvents] ADD  DEFAULT (N'') FOR [DonationLocation]
GO
ALTER TABLE [dbo].[DonationEvents] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsActive]
GO
ALTER TABLE [dbo].[DonationEvents] ADD  DEFAULT (N'') FOR [Notes]
GO
ALTER TABLE [dbo].[DonationEvents] ADD  DEFAULT (N'') FOR [RequestType]
GO
ALTER TABLE [dbo].[DonationEvents] ADD  DEFAULT (N'') FOR [StatusDescription]
GO
ALTER TABLE [dbo].[DonationEvents] ADD  DEFAULT (N'') FOR [ActionTaken]
GO
ALTER TABLE [dbo].[DonationEvents] ADD  DEFAULT (N'') FOR [BloodPressure]
GO
ALTER TABLE [dbo].[DonationEvents] ADD  DEFAULT (N'') FOR [ComplicationDetails]
GO
ALTER TABLE [dbo].[DonationEvents] ADD  DEFAULT (N'') FOR [ComplicationType]
GO
ALTER TABLE [dbo].[DonationEvents] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsUsable]
GO
ALTER TABLE [dbo].[DonationEvents] ADD  DEFAULT (N'') FOR [MedicalNotes]
GO
ALTER TABLE [dbo].[DonationEvents] ADD  DEFAULT (N'') FOR [RejectionReason]
GO
ALTER TABLE [dbo].[DonorProfiles] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsAvailableForEmergency]
GO
ALTER TABLE [dbo].[DonorProfiles] ADD  DEFAULT (N'') FOR [PreferredDonationTime]
GO
ALTER TABLE [dbo].[Locations] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsActive]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (N'') FOR [ReferenceId]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (N'') FOR [Title]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('0001-01-01T00:00:00.0000000+00:00') FOR [CreatedTime]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsActivated]
GO
ALTER TABLE [dbo].[BlogPosts]  WITH CHECK ADD  CONSTRAINT [FK_BlogPosts_Users_AuthorId] FOREIGN KEY([AuthorId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[BlogPosts] CHECK CONSTRAINT [FK_BlogPosts_Users_AuthorId]
GO
ALTER TABLE [dbo].[BloodInventories]  WITH CHECK ADD  CONSTRAINT [FK_BloodInventories_BloodGroups_BloodGroupId] FOREIGN KEY([BloodGroupId])
REFERENCES [dbo].[BloodGroups] ([Id])
GO
ALTER TABLE [dbo].[BloodInventories] CHECK CONSTRAINT [FK_BloodInventories_BloodGroups_BloodGroupId]
GO
ALTER TABLE [dbo].[BloodInventories]  WITH CHECK ADD  CONSTRAINT [FK_BloodInventories_ComponentTypes_ComponentTypeId] FOREIGN KEY([ComponentTypeId])
REFERENCES [dbo].[ComponentTypes] ([Id])
GO
ALTER TABLE [dbo].[BloodInventories] CHECK CONSTRAINT [FK_BloodInventories_ComponentTypes_ComponentTypeId]
GO
ALTER TABLE [dbo].[BloodInventories]  WITH CHECK ADD  CONSTRAINT [FK_BloodInventories_DonationEvents_DonationEventId] FOREIGN KEY([DonationEventId])
REFERENCES [dbo].[DonationEvents] ([Id])
GO
ALTER TABLE [dbo].[BloodInventories] CHECK CONSTRAINT [FK_BloodInventories_DonationEvents_DonationEventId]
GO
ALTER TABLE [dbo].[BloodRequests]  WITH CHECK ADD  CONSTRAINT [FK_BloodRequests_BloodGroups_BloodGroupId] FOREIGN KEY([BloodGroupId])
REFERENCES [dbo].[BloodGroups] ([Id])
GO
ALTER TABLE [dbo].[BloodRequests] CHECK CONSTRAINT [FK_BloodRequests_BloodGroups_BloodGroupId]
GO
ALTER TABLE [dbo].[BloodRequests]  WITH CHECK ADD  CONSTRAINT [FK_BloodRequests_ComponentTypes_ComponentTypeId] FOREIGN KEY([ComponentTypeId])
REFERENCES [dbo].[ComponentTypes] ([Id])
GO
ALTER TABLE [dbo].[BloodRequests] CHECK CONSTRAINT [FK_BloodRequests_ComponentTypes_ComponentTypeId]
GO
ALTER TABLE [dbo].[BloodRequests]  WITH CHECK ADD  CONSTRAINT [FK_BloodRequests_Locations_LocationId] FOREIGN KEY([LocationId])
REFERENCES [dbo].[Locations] ([Id])
GO
ALTER TABLE [dbo].[BloodRequests] CHECK CONSTRAINT [FK_BloodRequests_Locations_LocationId]
GO
ALTER TABLE [dbo].[BloodRequests]  WITH CHECK ADD  CONSTRAINT [FK_BloodRequests_Users_RequestedBy] FOREIGN KEY([RequestedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[BloodRequests] CHECK CONSTRAINT [FK_BloodRequests_Users_RequestedBy]
GO
ALTER TABLE [dbo].[Documents]  WITH CHECK ADD  CONSTRAINT [FK_Documents_Users_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Documents] CHECK CONSTRAINT [FK_Documents_Users_CreatedBy]
GO
ALTER TABLE [dbo].[DonationAppointmentRequests]  WITH CHECK ADD  CONSTRAINT [FK_DonationAppointmentRequests_BloodGroups_BloodGroupId] FOREIGN KEY([BloodGroupId])
REFERENCES [dbo].[BloodGroups] ([Id])
GO
ALTER TABLE [dbo].[DonationAppointmentRequests] CHECK CONSTRAINT [FK_DonationAppointmentRequests_BloodGroups_BloodGroupId]
GO
ALTER TABLE [dbo].[DonationAppointmentRequests]  WITH CHECK ADD  CONSTRAINT [FK_DonationAppointmentRequests_ComponentTypes_ComponentTypeId] FOREIGN KEY([ComponentTypeId])
REFERENCES [dbo].[ComponentTypes] ([Id])
GO
ALTER TABLE [dbo].[DonationAppointmentRequests] CHECK CONSTRAINT [FK_DonationAppointmentRequests_ComponentTypes_ComponentTypeId]
GO
ALTER TABLE [dbo].[DonationAppointmentRequests]  WITH CHECK ADD  CONSTRAINT [FK_DonationAppointmentRequests_DonorProfiles_DonorId] FOREIGN KEY([DonorId])
REFERENCES [dbo].[DonorProfiles] ([Id])
GO
ALTER TABLE [dbo].[DonationAppointmentRequests] CHECK CONSTRAINT [FK_DonationAppointmentRequests_DonorProfiles_DonorId]
GO
ALTER TABLE [dbo].[DonationAppointmentRequests]  WITH CHECK ADD  CONSTRAINT [FK_DonationAppointmentRequests_Locations_ConfirmedLocationId] FOREIGN KEY([ConfirmedLocationId])
REFERENCES [dbo].[Locations] ([Id])
GO
ALTER TABLE [dbo].[DonationAppointmentRequests] CHECK CONSTRAINT [FK_DonationAppointmentRequests_Locations_ConfirmedLocationId]
GO
ALTER TABLE [dbo].[DonationAppointmentRequests]  WITH CHECK ADD  CONSTRAINT [FK_DonationAppointmentRequests_Locations_LocationId] FOREIGN KEY([LocationId])
REFERENCES [dbo].[Locations] ([Id])
GO
ALTER TABLE [dbo].[DonationAppointmentRequests] CHECK CONSTRAINT [FK_DonationAppointmentRequests_Locations_LocationId]
GO
ALTER TABLE [dbo].[DonationAppointmentRequests]  WITH CHECK ADD  CONSTRAINT [FK_DonationAppointmentRequests_Users_InitiatedByUserId] FOREIGN KEY([InitiatedByUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[DonationAppointmentRequests] CHECK CONSTRAINT [FK_DonationAppointmentRequests_Users_InitiatedByUserId]
GO
ALTER TABLE [dbo].[DonationAppointmentRequests]  WITH CHECK ADD  CONSTRAINT [FK_DonationAppointmentRequests_Users_ReviewedByUserId] FOREIGN KEY([ReviewedByUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[DonationAppointmentRequests] CHECK CONSTRAINT [FK_DonationAppointmentRequests_Users_ReviewedByUserId]
GO
ALTER TABLE [dbo].[DonationEvents]  WITH CHECK ADD  CONSTRAINT [FK_DonationEvents_BloodGroups_BloodGroupId] FOREIGN KEY([BloodGroupId])
REFERENCES [dbo].[BloodGroups] ([Id])
GO
ALTER TABLE [dbo].[DonationEvents] CHECK CONSTRAINT [FK_DonationEvents_BloodGroups_BloodGroupId]
GO
ALTER TABLE [dbo].[DonationEvents]  WITH CHECK ADD  CONSTRAINT [FK_DonationEvents_BloodInventories_InventoryId] FOREIGN KEY([InventoryId])
REFERENCES [dbo].[BloodInventories] ([Id])
GO
ALTER TABLE [dbo].[DonationEvents] CHECK CONSTRAINT [FK_DonationEvents_BloodInventories_InventoryId]
GO
ALTER TABLE [dbo].[DonationEvents]  WITH CHECK ADD  CONSTRAINT [FK_DonationEvents_ComponentTypes_ComponentTypeId] FOREIGN KEY([ComponentTypeId])
REFERENCES [dbo].[ComponentTypes] ([Id])
GO
ALTER TABLE [dbo].[DonationEvents] CHECK CONSTRAINT [FK_DonationEvents_ComponentTypes_ComponentTypeId]
GO
ALTER TABLE [dbo].[DonationEvents]  WITH CHECK ADD  CONSTRAINT [FK_DonationEvents_DonorProfiles_DonorId] FOREIGN KEY([DonorId])
REFERENCES [dbo].[DonorProfiles] ([Id])
GO
ALTER TABLE [dbo].[DonationEvents] CHECK CONSTRAINT [FK_DonationEvents_DonorProfiles_DonorId]
GO
ALTER TABLE [dbo].[DonationEvents]  WITH CHECK ADD  CONSTRAINT [FK_DonationEvents_Locations_LocationId] FOREIGN KEY([LocationId])
REFERENCES [dbo].[Locations] ([Id])
GO
ALTER TABLE [dbo].[DonationEvents] CHECK CONSTRAINT [FK_DonationEvents_Locations_LocationId]
GO
ALTER TABLE [dbo].[DonationEvents]  WITH CHECK ADD  CONSTRAINT [FK_DonationEvents_Users_StaffId] FOREIGN KEY([StaffId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[DonationEvents] CHECK CONSTRAINT [FK_DonationEvents_Users_StaffId]
GO
ALTER TABLE [dbo].[DonorProfiles]  WITH CHECK ADD  CONSTRAINT [FK_DonorProfiles_BloodGroups_BloodGroupId] FOREIGN KEY([BloodGroupId])
REFERENCES [dbo].[BloodGroups] ([Id])
GO
ALTER TABLE [dbo].[DonorProfiles] CHECK CONSTRAINT [FK_DonorProfiles_BloodGroups_BloodGroupId]
GO
ALTER TABLE [dbo].[DonorProfiles]  WITH CHECK ADD  CONSTRAINT [FK_DonorProfiles_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[DonorProfiles] CHECK CONSTRAINT [FK_DonorProfiles_Users_UserId]
GO
ALTER TABLE [dbo].[DonorReminderSettings]  WITH CHECK ADD  CONSTRAINT [FK_DonorReminderSettings_DonorProfiles_DonorProfileId] FOREIGN KEY([DonorProfileId])
REFERENCES [dbo].[DonorProfiles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DonorReminderSettings] CHECK CONSTRAINT [FK_DonorReminderSettings_DonorProfiles_DonorProfileId]
GO
ALTER TABLE [dbo].[LocationCapacities]  WITH CHECK ADD  CONSTRAINT [FK_LocationCapacities_Locations_LocationId] FOREIGN KEY([LocationId])
REFERENCES [dbo].[Locations] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LocationCapacities] CHECK CONSTRAINT [FK_LocationCapacities_Locations_LocationId]
GO
ALTER TABLE [dbo].[LocationStaffAssignments]  WITH CHECK ADD  CONSTRAINT [FK_LocationStaffAssignments_Locations_LocationId] FOREIGN KEY([LocationId])
REFERENCES [dbo].[Locations] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LocationStaffAssignments] CHECK CONSTRAINT [FK_LocationStaffAssignments_Locations_LocationId]
GO
ALTER TABLE [dbo].[LocationStaffAssignments]  WITH CHECK ADD  CONSTRAINT [FK_LocationStaffAssignments_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[LocationStaffAssignments] CHECK CONSTRAINT [FK_LocationStaffAssignments_Users_UserId]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_Users_UserId]
GO
ALTER TABLE [dbo].[RefreshTokens]  WITH CHECK ADD  CONSTRAINT [FK_RefreshTokens_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RefreshTokens] CHECK CONSTRAINT [FK_RefreshTokens_Users_UserId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles_RoleId]
GO
ALTER TABLE [dbo].[LocationCapacities]  WITH CHECK ADD  CONSTRAINT [CK_LocationCapacity_TotalCapacity] CHECK  (([TotalCapacity]>=(0)))
GO
ALTER TABLE [dbo].[LocationCapacities] CHECK CONSTRAINT [CK_LocationCapacity_TotalCapacity]
GO
USE [master]
GO
